@{
    Layout = null;
}


<html style="">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Bootstrap Mulitselect - Constrained Width - jsFiddle demo</title>


    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <style type="text/css"></style>




    <link rel="stylesheet" type="text/css" href="/css/result-light.css">


    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">



    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet" type="text/css" href="http://davidstutz.github.io/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">



    <script type="text/javascript" src="http://davidstutz.github.io/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>


    <style type="text/css">
        .mid-width .multiselect-container {
            width: 200px;
        }

        .mid-width.wrapItems .multiselect-container > li > a {
            white-space: normal;
        }
    </style>




    <script type="text/javascript">
//<![CDATA[
        $(window).load(function () {
            $('.multiselect').multiselect({
                enableCaseInsensitiveFiltering: true,
                maxHeight: 200,
            });

        });//]]>

    </script>

</head>
<body>
 


    <h2>Fixed width with Fix</h2>
    <div class="mid-width wrapItems">
        <select class="multiselect" multiple="multiple" name="buckHunter" style="display: none;">
            <option value="1">Large Antelope &amp; Dangerous Game</option>
            <option value="2">Large Antelope (Blouwildebeest up until Eland)</option>
            <option value="3">Medium to Large Antelope (Blackwb up until Eland)</option>
            <option value="4">Small Game to Medium Game (up to Blackwildbeest)</option>
            <option value="5">N/A</option>
        </select>
        
    </div>















    <!-- Post Info -->
    <div style="position:fixed;bottom:0;left:0;background:lightgray;width:100%;">
        About this SO Question:
        <a href="http://stackoverflow.com/questions/23877970/1366033">
            bootstrap-multiselect options too long, overruns container
        </a><br>
        Fork This Skeleton Here:
        <a href="http://jsfiddle.net/KyleMit/kcpma/">
            Bootstrap 3 Skeleton
        </a><br>
    </div>





</body>
</html>